.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  & * {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }
  & > * > *:not(input, button) {
    border: 2px solid transparent;
  }
  & > * {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .actions {
    display: flex;
    gap: 1rem;
  }
  button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    &:hover {
      background-color: #ccc;
    }
    &.btn-danger {
      color: #9b000f;
      background-color: #ffbcc3;
      border-color: #ffbcc3;
      &:hover {
        background-color: #ff95a8;
        border-color: #ff95a8;
        box-shadow: 0 0 10px #ffbcc3;
      }
    }

    &.btn-primary {
      color: #005e23;

      background-color: #b3ffcc;
      border-color: #b3ffcc;
      &:hover {
        background-color: #61ff95;
        border-color: #61ff95;
        box-shadow: 0 0 10px #b3ffcc;
      }
    }
  }
}
