@use "sass:map";
$colors: (
  "primary": #007bff,
  "primary-hover": #0069d9,
  "secondary": #6c757d,
  "secondary-hover": #5a6268,
);

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

.App {
  text-align: left;
  @media (min-width: map.get($breakpoints, lg)) {
    text-align: center;
  }

  .header-xl {
    font-size: 4rem;
  }

  @mixin button($background-color: #fff, $border-color: #ccc, $color: #333) {
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    color: $color;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
  }

  .button {
    &-primary {
      @include button(
        $background-color: map.get($colors, primary),
        $border-color: map.get($colors, primary),
        $color: #fff
      );
      &:hover {
        background-color: map.get($colors, primary-hover);
      }
    }
    &-secondary {
      @include button(
        $background-color: map.get($colors, secondary),
        $border-color: map.get($colors, secondary),
        $color: #fff
      );
      &:hover {
        background-color: map.get($colors, secondary-hover);
      }
    }
  }
}
